<h1>Boliche</h1>
<p>Bem vindo, <%= @current_user.nome %></p>

<%= link_to 'Fazer a Jogada', new_match_path %>

<% if user_signed_in? %>
  <li>
  <%= link_to('Logout', destroy_user_session_path, method: :delete) %>   
  </li>
<% end %>